body{
    background-image: url(images/PictureGerman1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 100%;
}

h1{
    text-align: center;   
    background-color: white;
}

h2{
    color: black;
    background-color: white;
    margin: auto;
}
p{
    font-size: 30px;
    background-color: white;
}
.funFacts{
    background-color: white;
    margin: auto;
}

img{
    width: 25%;
}

.navi{
    padding-left: 0;
    list-style: none;
    width: 50%;
    margin: auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;

}

.navi li{
    display: inline-block;
    border: 3px outset;
}

.navi li a{
    
    color: black;
    font-size: 50px;
    
}

.navi li a:hover{
    background-image:url(images/GermanFlag.png);
    background-position: 30% 48%;
    background-size: 100%;
    background-repeat: no-repeat;
    
}